/* Header */
.header {
	height: 100vh;
	position: relative;
	background-color: #e6f0ff;
}

/* Navbar */
.navbar {
	display: flex;
	align-items: center;
	padding-top: 38px;
}

.navbar ul {
	display: flex;
	margin-left: 50px;
}

.navbar ul a {
	padding: 8px 14px;
	color: #4f5361;
	font-weight: 500;
	font-size: 1.4rem;
}

.navbar ul a:hover {
	text-decoration: underline;
}

.actions {
	margin-left: auto;
}

.actions .action-link {
	color: var(--primary-color);
}

.actions .action-link:hover {
	text-decoration: underline;
}

.actions .action-btn {
	margin-left: 18px;
	padding: 8px 20px;
}

/* Hero */
.hero .info {
	width: 51%;
	margin-top: 130px;
}

.hero .info .sub-title {
	font-size: 1.8rem;
	font-weight: 500;
	line-height: 1.5;
	letter-spacing: 0.01em;
}

.hero .info .title {
	margin-top: 8px;

	color: #000336;
	font-size: 6.3rem;
	font-weight: 700;
	line-height: 1.1875;
}

.hero .info .desc {
	margin-top: 30px;

	color: #5a6473;
	font-size: 1.8rem;
	font-weight: 400;
	line-height: 1.77778;
}

.hero-cta {
	min-width: 170px;
	margin-top: 40px;
}

.hero-img {
	position: absolute;
	bottom: 0;
	right: calc((100vw - var(--content-width)) / 2 - 100px);
}

/* Clients */
.clients {
	margin-top: 79px;
}

.clients .row {
	display: flex;
	justify-content: space-between;
}

.desc-row p {
	margin-top: 23px;

	color: #7d8589;
	font-weight: 500;
	line-height: 1.25%;
}

.branch {
	margin-top: 70px;
}

.branch .box {
	padding: 27px 40px;
	border-radius: 12px;
	cursor: pointer;
}

.branch .box:hover {
	box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.102);
}
